:root {
  --green: #1ECD97;
  --gray: #bbbbbb;
}

* {
  font-family: 'Roboto', sans-serif;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -65px;
  margin-top: -20px;
  width: 130px;
  height: 40px;
  text-align: center;
}

button {
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border: 2px solid var(--green);
  color: var(--green);
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  color: white;
  background: var(--green);
}

button:active {
  letter-spacing: 2px;
}

button:after {
  content: "SUBMIT";
}

.onclic {
  width: 40px;
  border-color: var(--gray);
  border-width: 3px;
  font-size: 0;
  border-left-color: var(--green);
  animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
  content: "";
}

.onclic:hover {
  color: var(--green);
  background: white;
}

.validate {
  font-size: 13px;
  color: white;
  background: var(--green);
}

.validate:after {
  display: none;
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content: "\f00c";
}

.validate .check-icon {
  display: inline-block;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
